{
    "day_sunny" : [
        "The sun is out today",
        "It's a beautiful day"
    ],
    "day_cloudy" : [
        "Gloomy clouds"
    ],
    "cloudy" : [
        "Clouds and more clouds"
    ],
    "showers" : [
        "Just a little rain in the forecast"
    ],
    "snow" : [
        "Snowball battle!",
        "Snow Day!",
        "Do you want to make a snowman?"
    ],
    "rain" : [
        "Don't forget your rain jacket!"
    ],
    "fog" : [
        "Drive safe in the fog"
    ],
    "thunderstorm" : [
        "Mother nature is angry today"
    ],
    "night_clear" : [
        "Good night for star gazing",
        "Clear tonight"
    ],
    "night_cloudy" : [
        "Cloudy out there tonight"
    ],
    "night_showers" : [
        "A few showers tonight"
    ],
    "night_rain" : [
        "Rain overnight"
    ],
    "night_thunderstorm" : [
        "Relaxing thunderstorm tonight"
    ],
    "night_snow" : [
        "Maybe a snow day tomorrow!"
    ]
}
