/* Magic Mirror Config Sample
 *
 * By Michael Teeuw http://michaelteeuw.nl
 * MIT Licensed.
 *
 * For more information how you can configurate this file
 * See https://github.com/MichMich/MagicMirror#configuration
 *
 */

var config = {
    address: "{{ magicmirror_address }}", // Address to listen on, can be:
                          // - "localhost", "127.0.0.1", "::1" to listen on loopback interface
                          // - another specific IPv4/6 to listen on a specific interface
                          // - "", "0.0.0.0", "::" to listen on any interface
                          // Default, when address config is left out, is "localhost"
    port: "{{ magicmirror_port }}",
    ipWhitelist: {{ magicmirror_ipWhitelist | list }}    , // Set [] to allow all IP addresses
                                                           // or add a specific IPv4 of 192.168.1.5 :
                                                           // ["127.0.0.1", "::ffff:127.0.0.1", "::1", "::ffff:192.168.1.5"],
                                                           // or IPv4 range of 192.168.3.0 --> 192.168.3.15 use CIDR format :
                                                           // ["127.0.0.1", "::ffff:127.0.0.1", "::1", "::ffff:192.168.3.0/28"],

    language: "{{ magicmirror_language }}",
    timeFormat: {{ magicmirror_timeformat }},
    units: "{{ magicmirror_units }}",
    logLevel: {{ magicmirror_logLevel | list}}

    modules: [
        {% for modules in magicmirror_extra_modules -%}
        {%  set _modules = magicmirror_extra_modules[modules] -%}
        {
            module: "{{ _modules['name'] }}",
            {% if _modules['header'] is defined -%}
            header: "{{ _modules['header'] }}",
            {%- endif +%}
            {% if _modules['position'] is defined -%}
            position: "{{ _modules['position'] }}",
            {%- endif +%}
            {% if _modules['classes'] is defined -%}
            classes: "{{ _modules['classes'] }}",
            {%- endif +%}
            {% if _modules['animateIn'] is defined -%}
            classes: "{{ _modules['animateIn'] }}",
            {%- endif +%}
            {% if _modules['animateOut'] is defined -%}
            classes: "{{ _modules['animateOut'] }}",
            {%- endif +%}
            {% if _modules['config'] is defined -%}
            config: {
                {{ _modules['config']|indent(16, false) }}
            },
            {%- endif +%}
        },
      {% endfor -%}
    ]

};

/*************** DO NOT EDIT THE LINE BELOW ***************/
if (typeof module !== "undefined") {module.exports = config;}
